extends ../../../views/admin_layout 
block content 
    .row
        .col-12
            .box
                .box-header
                    h4.box-title Request List
                .box-body
                    .table-responsive
                        table.tableList.table.table-striped.table-bordered.display(style='width:100%')
                            thead
                                tr
                                    th Name
                                    th Affiliation
                                    th SSAI Task Number
                                    th Travel Date
                                    th Travel Destination
                                    th Status
                                    th Created At 
                                    th Updated At
                                    th Actions
                            tbody
                                - for (var i=0; i< requests.length; i++)
                                    tr
                                        td 
                                            a(href="/request/view/"+requests[i]['_id']) #{requests[i].fname} #{requests[i].lname}
                                        td #{requests[i].employeeCode}
                                        td #{requests[i].charge}
                                        td #{requests[i].travelDate}
                                        td #{requests[i].travelTo}
                                        td
                                            - if(requests[i].status.toLowerCase()=='approved'){
                                                span.badge.badge-success #{requests[i].status}
                                            - }else if(requests[i].status.toLowerCase().includes('rejected')) {
                                                span.badge.badge-danger #{requests[i].status}
                                            - } else if(requests[i].status.toLowerCase()!='approved') {
                                                span.badge.badge-warning #{requests[i].status}
                                            - }
                                        
                                        td= moment(requests[i].createdAt).format('YYYY-MM-DD')
                                        td= moment(requests[i].updatedAt).format('YYYY-MM-DD')
                                        td
                                            a.waves-effect.waves-circle.btn.btn-circle.btn-success.btn-xs.pr-5(href="/request/approve/"+requests[i]['_id'] data-bs-toggle='tooltip' data-bs-original-title='Edit') 
                                                i.ti-pencil
                                            - if(requests[i].createdBy == profile.id || profile.role == 'admin'){  
                                            button.deleteBtn.waves-effect.waves-circle.btn.btn-circle.btn-danger.btn-xs(id=requests[i]['_id'] style="margin-left:5px" data-bs-toggle='tooltip' data-bs-original-title='Delete')
                                                i.ti-trash
                                            - }

