extends ../../../views/admin_layout

block content 
    style. 
        .badge-cust {
            font-size: 0.75em !important;
            line-height: 1 !important;
        }.
    // Validation wizard
    .box
        .box-header.with-border
            h4.box-title Travel Request Form
            //- h6.box-subtitle You can us the validation like what we did
        // /.box-header
        .box-body.wizard-content
            section.printableArea
                - if(profile.role == 'admin' || (profile.moduleTabs != null && profile.moduleTabs.tabs.includes('traveler-details'))){
                // Step 1
                h6 Traveler Details
                section
                    .row
                        .col-md-5
                            .form-group
                                label.form-label(for='fname')
                                    | First Name : 
                                    span.danger *
                                .controls
                                    span#fname.form-control=data.requests.fname
                        .col-md-5
                            .form-group
                                label.form-label(for='lname')
                                    | Last Name : 
                                    span.danger *
                                .controls
                                    span#lname.form-control=data.requests.lname
                        .col-md-2
                            .form-group
                                label.form-label(for='employeeCode')
                                    | Affiliation : 
                                    span.danger * 
                                span#employeeCode.form-control=data.requests.employeeCode
                    .row
                        .col-md-3
                            .form-group
                                label.form-label(for='wemailAddress2')
                                    | Email Address : 
                                    span.danger *
                                span#wemailAddress2.form-control=data.requests.email
                        .col-md-3
                            .form-group
                                label.form-label(for='wphoneNumber2') Phone Number (Optional) :
                                .controls
                                    span#wphoneNumber2.form-control=data.requests.phone
                        .col-md-2
                            .form-group
                                label.form-label(for='charge')
                                    | SSAI Task Number: 
                                    span.danger *
                                span#charge.form-control=data.requests.charge
                        .col-md-4
                            .form-group
                                .row(style="margin-top:30px")
                                    .col-md-6
                                        input#virtualEvent(name='virtualPersonalEvent' type='radio' disabled value='virtual' checked)
                                        label.me-30(for='virtualEvent') Virtual Event
                                    .col-md-6
                                        input#personalEvent(name='virtualPersonalEvent' type='radio' disabled value='inpersonal')
                                        label.me-30(for='personalEvent') In-Person Event
                    .row
                        .col-md-6
                            .form-group
                                label.form-label(for='shortDescription3') 
                                    | Comprehensive justification for trip :
                                    span.danger *
                                span#shortDescription3.form-control=data.requests.tripJustification
                        .col-md-6
                            .form-group
                                label.form-label(for='shortDescription1') Accompanying personnel and organization (Optional)  :
                                span#shortDescription1.form-control=data.requests.tripOrganization
                - }
                - if(profile.role == 'admin' || (profile.moduleTabs != null && profile.moduleTabs.tabs.includes('travel-itinerary'))){
                // Step 2
                h6 Travel Itinerary
                section
                    .row#travelContainerEnd
                        - for(var k=0;k<data.requests.travelFrom.length;k++){
                        .row.tRow#travelContainer
                            .col-md-2
                                .form-group
                                    label.form-label(for='') 
                                        | Travel Date : 
                                        span.danger *
                                    span.travelDate.form-control=data.requests.travelDate[k]
                            .col-md-2
                                .form-group.cityAuto
                                    label.form-label(for='') 
                                        | Travel From :
                                        span.danger *
                                    span.travelFrom.travelLocation.form-control=data.requests.travelFrom[k]
                            .col-md-2
                                .form-group.cityAuto
                                    label.form-label(for='') 
                                        | Travel To :
                                        span.danger *
                                    span.travelTo.travelLocation.form-control=data.requests.travelTo[k]
                            .col-md-3
                                .form-group
                                    label.form-label(for='') 
                                        | Final Work Destination  :
                                        span.danger *
                                    span.finalWork.form-control=data.requests.workDestination[k]
                            .col-md-3
                                .form-group
                                    label.form-label(for='') 
                                        | Day at this location : 
                                        span.danger *
                                    span.travelDays.form-control=data.requests.numberOfDays[k]
                        - }
                    .row.mt-5
                        .col-md-12
                            .form-group
                                label.col-sm-4.col-form-label(for='vacationDays') 
                                    | How many personal days while on travel? :
                                    span.danger *
                                span#vacationDays.form-control=data.requests.numberOfVacation
                                p.mt-3
                                    i The number of personal days should not exceed the number of business trip days or 5 days, whichever is fewer.

                    .row.mt-5(style='color:red')   
                        .col-md-12.mt-4 
                            p.mb-5
                                strong Notes: 
                        .col-md-12 
                            p Please enter each date of travel. Example: the date of your initial trip to the conference and the date of your return trip should be separate entries.
                            p The "Final Work Destination" may occasionally differ from the "Travel To" location. Example: if you need to fly to Denver for a meeting being held in Boulder.
                - }
                - if(profile.role == 'admin' || (profile.moduleTabs != null && profile.moduleTabs.tabs.includes('trip-requirement'))){
                // Step 3
                h6 Trip Requirement
                section
                    .row
                        .col-md-5
                            .form-group
                                .row
                                    .col-md-6
                                        label.form-label Foreign Travel :
                                    .col-md-3
                                        input#radio_3(name='foreignTrip' type='radio' value='yes' disabled)
                                        label.me-30(for='radio_3') Yes
                                    .col-md-3
                                        input#radio_4(name='foreignTrip' type='radio' value='no' checked disabled)
                                        label.me-30(for='radio_4') No
                            .form-group
                                    .row
                                        .col-md-6
                                            label.form-label Taking Laptop (any IT equip.) :
                                        .col-md-3
                                            input#itAsset(name='itAsset' type='radio' value='yes' checked disabled)
                                            label.me-30(for='itAsset') Yes
                                        .col-md-3
                                            input#itAsset1(name='itAsset' type='radio' value='no' disabled)
                                            label.me-30(for='itAsset1') No
                            .form-group
                                    .row
                                        .col-md-6
                                            label.form-label Airline reservation :
                                        .col-md-3
                                            input#airlinereservation(name='airlinereservation' type='radio' value='yes' checked disabled)
                                            label.me-30(for='airlinereservation') Yes
                                        .col-md-3
                                            input#airlinereservation1(name='airlinereservation' type='radio' value='no' disabled)
                                            label.me-30(for='airlinereservation1') No
                            .form-group
                                .row
                                    .col-md-6
                                        label.form-label Hotel reservation :
                                    .col-md-3
                                        input#hotelreservation(name='hotelreservation' type='radio' value='yes' checked disabled)
                                        label.me-30(for='hotelreservation') Yes
                                    .col-md-3
                                        input#hotelreservation1(name='hotelreservation' type='radio' value='no' disabled)
                                        label.me-30(for='hotelreservation1') No
                            .form-group
                                .row
                                    .col-md-6
                                        label.form-label Rental Car :
                                    .col-md-3
                                        input#rentalCarYes(name='rentalCar' type='radio' value='yes' disabled)
                                        label.me-30(for='rentalCarYes') Yes
                                    .col-md-3
                                        input#rentalCarNo(name='rentalCar' type='radio' value='no' checked disabled)
                                        label.me-30(for='rentalCarNo') No
                            .form-group
                                .row
                                    .col-md-6
                                        label.form-label Privately owned vehicle :
                                    .col-md-3
                                        input#pvtVehicleYes(name='pvtVehicle' type='radio' value='yes' disabled)
                                        label.me-30(for='pvtVehicleYes') Yes
                                    .col-md-3
                                        input#pvtVehicleNo(name='pvtVehicle' type='radio' value='no' checked disabled)
                                        label.me-30(for='pvtVehicleNo') No
                            .form-group
                                .row
                                    .col-md-6
                                        label.form-label Train :
                                    .col-md-3
                                        input#trainYes(name='train' type='radio' value='yes' disabled)
                                        label.me-30(for='trainYes') Yes
                                    .col-md-3
                                        input#trainNo(name='train' type='radio' value='no' checked disabled)
                                        label.me-30(for='trainNo') No
                        .col-md-7
                            .row
                                .col-md-9
                                    .form-group
                                        .row
                                            .col-md-6
                                                label.form-label Conference Registration fee :
                                            .col-md-3
                                                input#conferenceregistration.conferenceregistration(name='conferenceregistration' type='radio' value='yes' disabled)
                                                label.me-30(for='conferenceregistration') Yes
                                            .col-md-3
                                                input#conferenceregistration1.conferenceregistration(name='conferenceregistration' type='radio' value='no' checked disabled)
                                                label.me-30(for='conferenceregistration1') No
                                .col-md-3#conferenceregistrationInput
                                    .form-group
                                        .c-inputs-stacked
                                            .input-group.mb-3
                                                span.input-group-text.bg-transparent
                                                    i $
                                                span.form-control#conferenceregistrationFee=data.requests.conferenceregistrationfee
                            .row
                                .col-md-9
                                    .form-group
                                        .row
                                            .col-md-6
                                                label.form-label Requesting cash travel advance :
                                            .col-md-3
                                                input#requestcash.requestCash(name='requestcash' type='radio' value='yes' disabled)
                                                label.me-30(for='requestcash') Yes
                                            .col-md-3
                                                input#requestcash1.requestCash(name='requestcash' type='radio' value='no' checked disabled)
                                                label.me-30(for='requestcash1') No
                                .col-md-3#requestCashInput
                                    .form-group
                                        .c-inputs-stacked
                                            .input-group.mb-3
                                                span.input-group-text.bg-transparent
                                                    i $
                                                span.form-control=data.requests.estimatecost
                            .row
                                .col-md-9
                                    .form-group
                                        .row
                                            .col-md-6
                                                label.form-label Is NCTS Required for this travel? :
                                            .col-md-3
                                                input#registerNcts.registerNcts(name='registerNcts' type='radio' value='yes' disabled)
                                                label.me-30(for='registerNcts') Yes
                                            .col-md-3
                                                input#registerNcts1.registerNcts(name='registerNcts' type='radio' value='no' checked disabled)
                                                label.me-30(for='registerNcts1') No
                                        .row#registerNctsInput
                                            .col-12 
                                                p(style='color:red')  
                                                    i Please refer to agency travel guidelines to determine if NCTS registration is required. If NCTS registration is required, you will receive a follow-up request to provide a copy of the NCTS approval email.
                            .form-group
                                .controls
                                    input#fieldwork(type='checkbox' value='fieldwork' disabled)
                                    label.me-30(for='fieldwork') Field work
                                    input#meeting(type='checkbox' value='meeting' checked disabled)
                                    label.me-30(for='meeting') Conference, Meeting, Etc.
                - }
                - if(profile.role == 'admin' || (profile.moduleTabs != null && profile.moduleTabs.tabs.includes('trip-approvals'))){
                // Step 4
                h6 Trip Approvals
                section
                    - for(i=0;i<data.requests.approvers.length;i++){
                        .row
                            .col-md-3
                                .form-group
                                    label.form-label(for='approverRole') Approver role
                                    div#approverRole.form-control=data.requests.approvers[i].approverRole
                            .col-md-3
                                .form-group
                                    label.form-label(for='approverName') Approvers Name :
                                    div#approverName.form-control=data.requests.approvers[i].approverName
                            .col-md-3
                                .form-group
                                    label.form-label(for='travelerIdDate') Date
                                    div#travelerIdDate.form-control=data.requests.approvers[i].actionDate
                        .row 
                            .col-md-3
                                .form-group
                                    label.form-label(for='approverEmail') Approvers Email :
                                    div#approverName.form-control=data.requests.approvers[i].approverEmail
                            .col-md-3 
                                .from-group 
                                    label.form-label(for="approvalStatus") Status 
                                    div#approvalStatus.form-control #{data.requests.approvers[i].approveStatus=='true' ? 'Approved' : 'Rejected'}
                            .col-md-6
                                .form-group
                                    label.form-label(for='remark') Remark
                                    div#remark.form-control #{data.requests.approvers[i].remark!=''? data.requests.approvers[i].remark : 'Not Provided' }
                    - }
                - }
                section 
                    .row.mb-15 
                        .col-12 
                            label.form-label(for="approvalStatus1") Status 
                            div#approvalStatus1.form-control #{data.requests.status}
                    .row 
                        .col-12 
                            button#print1.btn.btn-primary.pull-right(type="button") 
                                span 
                                    i.fa.fa-print 
                                    | &nbsp;&nbsp;Print
        // /.box-body
        // /.box
        //- GLTM PM TC