extends ../../../views/admin_layout 
block content 
    .row
        .col-12
            .box
                .box-header
                    h4.box-title Request List
                .box-body
                    .table-responsive
                        table.tableList.table.table-striped.table-bordered.display(style='width:100%')
                            thead
                                tr
                                    th Name
                                    th Employer
                                    th Employee Code
                                    th email
                                    th phone
                                    th Status
                                    th Created At 
                                    th Updated At
                                    th Actions
                            tbody
                                - for (var i=0; i< requests.length; i++)
                                    tr
                                        td #{requests[i].fname} #{requests[i].lname}
                                        td #{requests[i].employer || 'SSAI'}
                                        td #{requests[i].employeeCode}
                                        td #{requests[i].email}
                                        td #{requests[i].phone}
                                        - if(requests[i].status.toLowerCase()=='approved'){
                                            td.bg-success #{requests[i].status}
                                        - } else {
                                            td.bg-warning #{requests[i].status}
                                        - }
                                        
                                        td= moment(requests[i].createdAt).format('YYYY-MM-DD')
                                        td= moment(requests[i].updatedAt).format('YYYY-MM-DD')
                                        td.d-flex.align-items-center.justify-content-center
                                            a.waves-effect.waves-circle.btn.btn-circle.btn-success.btn-xs.pr-5(href="/request/approve/"+requests[i]['_id']) 
                                                i.ti-pencil
                                            - if(requests[i].createdBy == profile.id || profile.role == 'admin'){  
                                            button.requestDeleteBtn.waves-effect.waves-circle.btn.btn-circle.btn-danger.btn-xs(id=requests[i]['_id'] style="margin-left:5px")
                                                i.ti-trash
                                            - }

