extends ../../../views/admin_layout 
block content 
    .col-md-12.col-12
        .box
            .box-header.with-border
                h4.box-title Add User Mangers
            // /.box-header
            form#userUpdateForm.form(action='/um/add' method='POST')
                .box-body
                    .row
                        .col-md-3
                            .form-group
                                label.form-label Employee E-mail
                                select.form-select(name='employee_email' )
                                    - for (var i=0; i< data.length; i++)
                                        option(value=data[i].role)=data[i].email
                        .col-md-3
                            .form-group
                                label.form-label Program Manager Email
                                select.form-select(name='pm_email' )
                                    - for (var i=0; i< data.length; i++)
                                        option(value=data[i].role)=data[i].email
                        .col-md-3
                            .form-group
                                label.form-label Task Monitor
                                select.form-select(name='tm_email' )
                                    - for (var i=0; i< data.length; i++)
                                        option(value=data[i].role)=data[i].email
                        .col-md-3
                            .form-group
                                label.form-label Group Lead 
                                select.form-select(name='gl_email' )
                                    - for (var i=0; i< data.length; i++)
                                        option(value=data[i].role)=data[i].email
                    .row
                        .col-md-3
                            .form-group
                                label.form-label  Travel Coordinator
                                select.form-select(name='tc_email' )
                                    - for (var i=0; i< data.length; i++)
                                        option(value=data[i].role)=data[i].email
                .box-footer.pull-right
                    button.btn.btn-warning.me-1(type='button')
                        i.ti-trash
                        |  Cancel
                    button.btn.btn-primary(type='submit')
                        i.ti-save-alt
                        |  Save
        // /.box
