extends ../../../views/admin_layout 
block content 
    .row
        .col-12
            .box
                .box-header
                    .row
                        .col-10
                            h4.box-title Email Template List
                        .col-2
                            a.waves-effect.btn.btn-primary.btn-small.pull-right(style="margin-top:-4px" href='/email/add') Add Template 
                .box-body
                    .table-responsive
                        table.tableList.table.table-striped.table-bordered.display(style='width:100%')
                            thead
                                tr
                                    th Name
                                    th Title 
                                    th Created At 
                                    th Updated At
                                    th Actions
                            tbody
                                - for (var i=0; i< emails.length; i++)
                                    tr
                                        td #{emails[i].templateName}
                                        td #{emails[i].title}
                                        td= moment(emails[i].createdAt).format('YYYY-MM-DD')
                                        td= moment(emails[i].updatedAt).format('YYYY-MM-DD')
                                        td 
                                            a.waves-effect.waves-circle.btn.btn-circle.btn-success.btn-xs.pr-5(href="/email/edit/"+emails[i]['_id']) 
                                                i.ti-pencil
                                            |  
                                            button.deleteBtn.waves-effect.waves-circle.btn.btn-circle.btn-danger.btn-xs(id=emails[i]['_id'])
                                                i.ti-trash

